.pokemons {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  padding-top: 20px;
  padding-bottom: 40px;
  justify-content: center;
}
.card__wrapper {
  display: grid;
  grid-column: 2/ 3;
  grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-between;
}
.navigation{
  grid-column: 2/3;
  padding: 5px;
}
.nav__span{
  display: inline-block;
  padding: 2px;
  border:1px solid black;
  background-color: gold;
  cursor: pointer;
  margin: 3px;
}
.nav_activ_span{
  display: inline-block;
  padding: 2px;
  border:1px solid black;
  background-color: rgb(0, 94, 255);
  cursor: pointer;
  margin: 3px;
}