.pokemons {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  padding-top: 20px;
  padding-bottom: 40px;
  justify-content: center;
}
.card__wrapper {
  display: grid;
  grid-column: 2/ 3;
  grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
  column-gap: 10px;
  align-items: stretch;
  row-gap: 20px;
  justify-content: space-between;
}
.navigation {
  grid-column: 2/3;
  padding: 5px;
}
.nav__span {
  display: inline-block;
  padding: 3px 10px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  margin: 3px;
}
.nav_activ_span {
  display: inline-block;
  width: 50px;
  text-align: center;
  color: white;
  padding: 3px 10px;
  border: 1px solid black;
  background-color: rgb(37, 110, 236);
  cursor: pointer;
  margin: 3px;
}
.btn_prev {
  background-color: white;
  border: none;
  text-align: center;
  border: 1px solid black;
  padding: 5px 10px;
  width: 50px;
  cursor: pointer;
}
.next_btn{
  background-color: white;
  border: none;
  text-align: center;
  border: 1px solid black;
  padding: 5px 10px;
  width: 50px;
  cursor: pointer;
}
.paginator{
  display: flex;
  align-items: center;
}
.select__btn{
  margin-left: 10px;
  background-color: white;
  border: none;
  text-align: center;
  border: 1px solid black;
  padding: 5px 10px;
  padding-bottom: 4px;
  width: 60px;
  cursor: pointer;
}