*{
  box-sizing: border-box;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.image__block{
  max-width: 100%;
  grid-column: 1/2;
  background-color: rgb(62, 78, 187);
  text-align: center;
  border:5px solid rgb(0, 128, 255);
  height: 300px;
}
.image{
 max-width: 300px;
 height: 100%;
}
.backfon{
  background: linear-gradient(308deg, rgba(154,31,143,1) 36%, rgba(23,131,235,1) 100%);
}
.defines__block{
  margin-left: 10px;
  color:white;
}
.abbilities__block{
  margin-top: 10px;
}
.icons{
  color:white;
  grid-column: 3/4;
  text-align: center;
}
.titleIcons{
  text-align: center;
}
.icons img{
  width: 100px;
  height: 100px;
}
@media screen and (max-width:1000px) {
  .wrapper{
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto;
  }
  .icons{
    margin-top: 10px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media screen and (max-width:650px) {
  .wrapper{
    grid-template-columns: 300px;
    grid-template-rows: auto auto auto;
    justify-content: center;
  }
  .icons{
    margin-top: 10px;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .defines__block{
    grid-row: 2/3;
    margin-top: 10px;
  }
  .image{
    max-width: 200px;
    height: 100%;
   }
   .image__block{
     width: 95%;
     margin: 0 auto;
     height: 200px;
   }
}