.card {
  border: 1px solid rgb(193, 193, 193);
  padding: 10px;
  display: grid;
  border-radius: 5px;
  grid-template: auto auto auto auto/1fr;
  height: 100%;
  background: rgb(154, 31, 143);
  background: linear-gradient(
    308deg,
    rgba(154, 31, 143, 1) 36%,
    rgba(23, 131, 235, 1) 100%
  );
  row-gap: auto;
  color: white;
  text-shadow: black 1px 1px 5px;
  box-shadow: 0px 1px 1px 5px rgb(0, 0, 0);
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  cursor: pointer;
  transform: scale(110%);
}
.name__block {
  display: flex;
  justify-content: space-between;
  height: max-content;
  font-size: 18px;
  grid-row: 1/2;
  padding: 2px;
}
.image__block {
  margin-top: auto;
  grid-row: 2/3;
  border-radius: 50%;
  border: 10px solid white;
  box-sizing: content-box;
  background: rgb(154,31,143);
background: linear-gradient(308deg, rgba(154,31,143,1) 36%, rgba(23,131,235,1) 100%);
  height: 200px;
  margin-top: 10px;
  box-shadow: rgb(52, 52, 52) 1px 1px 5px;
}
.defines__block {
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
}
.abbilities__block {
  grid-row: 4/5;
}
.pok_image {
  width: 100%;
  height: 100%;
}
.navlink__block > a:visited {
  color: rgb(0, 64, 255);
}
.navlink{
  text-decoration: none;
  color:rgb(255, 166, 0);
}