.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1220px) 1fr;
  margin: 0 10px;
}
.container {
  grid-column: 2/3;
}
.navlink {
  text-decoration: none;
  display: block;
  color: rgb(255, 255, 255);
  margin: 5px;
  padding: 5px 10px;
}
.navlinks__block {
  display: flex;
  justify-content: space-between;
}
.logo__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.active__navlink {
  background-color: rgb(12, 89, 223);
  color: white;
  border: 1px solid white;
}
.burger__menu {
  display: none;
}
.navlink__mob{
  text-decoration: none;
  display: block;
  color: rgb(0, 0, 0);
  margin: 5px;
  padding: 5px 10px;
}
.navlinks__wrapper{
  display: flex;
}
@media screen and (max-width: 500px) {
  .burger__menu {
    display: block;
  }
  .logo__block {
    display: none;
  }
  .navlinks__block {
    display: none;
  }
}
