.navlink {
  text-decoration: none;
  display: block;
  background-color: rgb(37, 110, 236);
  border: 1px solid white;
  color: white;
  margin: 5px;
  padding: 5px 10px;
}
.navlinks__block {
  display: flex;
  justify-content: space-between;
}
.logo__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.active__navlink {
  background-color: rgb(255, 255, 255);
  color: black;
}
