.footer {
  display: grid;
  grid-row: 3/ 4;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  background-color: rgb(123, 1, 113);
  box-shadow: 0px -1px 5px 1px black;
  color: white;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  grid-column: 2/3;
}
